<html>
  <head>
    <title>Todo List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" ></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <script src="/assets/todo-list.js"></script>
  </head>
  <body>
    <div id="todo-table">
      <form >
        <input type="text" name="item" placeholder="add new item ..." required="true"/>
        <button type="submit">Add item</button>
      </form>
      <ul>
        <% for(var i=0; i<todos.length; i++){ %>
          <li><%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
